---
import Section from '@layouts/Section.astro';
import Split from '@layouts/Split.astro';
import Img from '@components/ui/Img.astro';
import ContentBlock from './ContentBlock.astro';

import { getEntry } from 'astro:content';

const content = await getEntry('landing', 'about');
const { name, titles, paragraphs } = await content.data;
const [title1, title2] = titles;
const [text1, text2] = paragraphs;

const AboutImage_1 = '/about_img_1.png';
const AboutImage_2 = '/about_img_2.png';
---

<Section name={name}>
  <Split>
    <Img
      src={AboutImage_1}
      alt="Eco image"
    />
    <ContentBlock
      title={title1}
      paragraph={text1}
      linkUrl="#services"
      linkText="Czytaj dalej"
    />
  </Split>

  <Split>
    <Img
      src={AboutImage_2}
      alt="Eco image"
    />
    <ContentBlock
      title={title2}
      paragraph={text2}
      linkUrl="#contact"
      linkText="Skontaktuj się"
    />
  </Split>
</Section>
