---
import Section from '@layouts/Section.astro';
import Stack from '@layouts/Stack.astro';
import Split from '@layouts/Split.astro';
import Group from '@layouts/Group.astro';
import Center from '@layouts/Center.astro';

import HeadingGroup from '@components/ui/HeadingGroup.astro';
import Img from '@components/ui/Img.astro';
import Button from '@components/ui/Button.astro';
import Text from '@components/ui/Text.astro';

const heading = 'Cześć! Jestem Zuza Zalewska';
const subheading = 'Twój doradca środowiskowy';

const aboutText_1 =
  'Przez lata pracy nad różnorodnymi projektami zdobyłam nie tylko wiedzę, ale i praktyczne  doświadczenie w zakresie przepisów ochrony środowiska.';

const aboutText_2 = 'Pomagam firmom spełniać wymogi prawne wynikające z ustaw środowiskowych.';

const aboutText_3 =
  'Napisz do mnie – pomogę Ci zweryfikować Twoje obowiązki i zaproponuję najlepsze rozwiązania.';

const profilePicture = '/zu_photo_web.jpg';
---

<Section name="photo">
  <HeadingGroup heading={heading} subheading={subheading} />
  <Split>
    <Stack>
      <Text>{aboutText_1}</Text>
      <Text>{aboutText_2}</Text>
    </Stack>
    <Img src={profilePicture} alt="Profile Picture" />
  </Split>

  <Text>{aboutText_3}</Text>
  <Center>
    <Group>
      <Button asLink url="#contact" className="outline">Kontakt</Button>
      <Button asLink url="#services">Usługi</Button>
    </Group>
  </Center>
</Section>
