---
import Section from '@layouts/Section.astro';
import Button from '@components/Button.astro';
import { getEntry } from 'astro:content';

const content = await getEntry('landing', 'about');
const { name, title, subtitle, paragraphs } = await content.data;
---

<Section name={name}>
  <div class="content">
    <div class="flex-container">
      <div class="column image-container">
        <img alt="Ekspertka w dziedzinie ochrony środowiska" src="/about_img_1.png" />
      </div>

      <div class="column stack-sm">
        <h2>{title}</h2>
        <p>{paragraphs[0]}</p>
        <Button href="#services">Dowiedz się więcej</Button>
      </div>
    </div>

    <div class="flex-container">
      <div class="column">
        <img alt="Ekspertka w dziedzinie ochrony środowiska" src="/about_img_2.png" />
      </div>
      <div class="column stack-sm">
        <h2>{subtitle}</h2>
        <p>{paragraphs[1]}</p>
        <Button href="#contact">Skontaktuj się</Button>
      </div>
    </div>
  </div>
  <style lang="scss">
    @import '@styles/_layout.scss';

    .flex-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: var(--margin-sm);
      gap: var(--gap-md);

      .column {
        flex: 1;
      }

      .image-container {
        order: -1;
      }

      img {
        border-radius: 1rem;
        border: var(--border);
        box-shadow: var(--box-shadow);
        width: 50%;
      }

      @include breakpoint(large) {
        flex-direction: row;

        &:nth-child(2) {
          margin-top: var(--margin-lg);
        }

        .image-container {
          order: 2;
        }

        img {
          width: 100%;
        }
      }
    }
  </style>
</Section>
