---
import Section from '@layouts/Section.astro';
import Button from '@components/Button.astro';
import { getEntry } from 'astro:content';

const content = await getEntry('landing', 'about');
const { name, title, subtitle, paragraphs } = await content.data;
---

<Section name={name}>
  <div class="content">
    <div class="flex-container">
      <div class="column image-container">
        <img alt="Ekspertka w dziedzinie ochrony środowiska" src="/about_img_1.png" />
      </div>

      <div class="column stack-sm">
        <h2>{title}</h2>
        <p>{paragraphs[0]}</p>
        <Button>Dowiedz się więcej</Button>
      </div>
    </div>

    <div class="flex-container">
      <div class="column">
        <img
          alt="Ekspertka w dziedzinie ochrony środowiska"
          height="400"
          src="/about_img_2.png"
          width="600"
        />
      </div>
      <div class="column stack-sm">
        <h2>{subtitle}</h2>
        <p>{paragraphs[1]}</p>
        <Button>Skontaktuj się</Button>
      </div>
    </div>
  </div>
  <style lang="scss">
    @import '@styles/_layout.scss';

    .flex-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: var(--margin-md);

      @include breakpoint(large) {
        flex-direction: row;

        .image-container {
          order: 2;
        }
      }

      .column {
        flex: 1;
        margin: 0 1rem;
      }

      .img {
        object-fit: cover;
        aspect-ratio: 6/4 auto;
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }
  </style>
</Section>
