---
import Section from '@layouts/Section.astro';
import Link from '@components/Link.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'about');
const { name, titles, paragraphs } = await content.data;
const [title1, title2] = titles;
const [p1, p2] = paragraphs;
---

<Section name={name}>
  <div class="content stack-lg">
    <div class="flex">
      <div class="column swap">
        <img alt="Eco image" src="/about_img_1.png" />
      </div>
      <div class="column stack">
        <h2>{title1}</h2>
        <p>{p1}</p>
        <Link className="button outline" url="#services">Czytaj dalej</Link>
      </div>
    </div>

    <div class="flex">
      <div class="column">
        <img alt="Eco image" src="/about_img_2.png" />
      </div>
      <div class="column stack">
        <h2>{title2}</h2>
        <p>{p2}</p>
        <Link className="button outline" url="#contact">Skontaktuj się</Link>
      </div>
    </div>
  </div>

  <style lang="scss">
    @import '@styles/_layout.scss';

    .flex {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: var(--gap-md);

      .column {
        flex: 1;
      }

      .swap {
        order: -1;
      }

      img {
        border-radius: var(--radius-md);
        border: var(--border-lg);
        box-shadow: var(--box-shadow);
        aspect-ratio: 4 / 3;
        object-fit: cover;
        width: 100%;
      }

      @include breakpoint(medium) {
        flex-direction: row;

        &:nth-child(2) {
          margin-top: var(--margin-lg);
        }

        .swap {
          order: 2;
        }

        img {
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }
  </style>
</Section>
