---
import Section from '@layouts/Section.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'intro');
const { name, title, paragraphs } = await content.data;
const [p1, p2, p3, p4] = paragraphs;
---

<Section name={name}>
  <div class="header">
    <h1>{title}</h1>
  </div>
  <div class="content">
    <div class="speech-bubble">
      <p>{p1}</p>
    </div>
    <div class="speech-bubble speech-bubble-right">
      <p>{p2}</p>
    </div>
    <div class="clearfix"></div>
    <div class="emphasis">
      <p>{p3}</p>
    </div>
    <br />
    <p>{p4}</p>
  </div>
</Section>
<style lang="scss">
  .emphasis {
    background: #ecd4d1;
    padding: 1rem;
  }
</style>
