---
import { Icon } from 'astro-icon/components';
const { href, type, className, iconName } = Astro.props;
---

{
  href ? (
    <a class={`button ${className}`} href={href}>
      {iconName && <Icon class="icon" name={iconName} />}
      <span>
        <slot />
      </span>
    </a>
  ) : (
    <button type={type} class={`button ${className}`}>
      {iconName && <Icon class="icon" name={iconName} />}
      <span>
        <slot />
      </span>
    </button>
  )
}

<style lang="scss">
  .button {
    display: inline-flex;
    text-align: center;
    color: var(--neutral-100);
    gap: var(--gap-sm);
    background-color: var(--primary-500);
    padding-block: var(--padding-sm);
    padding-inline: var(--padding-md);
    border-radius: var(--radius-sm);
    font-weight: 600;
    padding: 1.5ch 2ch;

    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;

    &:is(:hover, :focus) {
      background-color: var(--primary-400);
      border-color: var(--neutral-900);
    }

    &:where(button):where(:not(:active)):focus-visible {
      outline-offset: 5px;
    }

    &.color-secondary {
      background-color: var(--secondary-400);
      border-color: (var(--secondary-500));

      &:hover,
      &:focus {
        background-color: var(--secondary-300);
        border-color: var(--secondary-400);
      }
    }

    &.size-small {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }

    &.size-large {
      padding: 0.75rem 1rem;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }

    &.behavior-full {
      display: block;
      width: 100%;
    }

    &.type-secondary {
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    &.has-icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      [data-icon] {
        flex-shrink: 0;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }

  .email {
    background-color: hsl(211, 100%, 43%);
    &:hover {
      background-color: hsl(207.8, 55.41%, 29.02%);
    }
  }

  .icon {
    font-size: 1.4rem;
    font-weight: 600;
  }
</style>
