---
import { Icon } from 'astro-icon/components';
const { href, type, className, iconName } = Astro.props;
---

{
  href ? (
    <a class={`button fit-content ${className}`} href={href}>
      {iconName && <Icon class="icon" name={iconName} />}
      <span>
        <slot />
      </span>
    </a>
  ) : (
    <button
      type={type}
      class={`button
     ${className}`}
    >
      {iconName && <Icon class="icon" name={iconName} />}
      <span>
        <slot />
      </span>
    </button>
  )
}

<style lang="scss">
  .button {
    display: inline-flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--neutral-900);
    background: var(--primary-300);
    padding-block: var(--padding-xs);
    padding-inline: var(--padding-sm);
    border-radius: var(--radius-btn);
    border: var(--border-sm);

    &:is(:hover, :focus) {
      transform: translateY(-4px) translateX(-2px);
      box-shadow: 2px 5px 0 0 black;
    }

    &:where(button):where(:not(:active)):focus-visible {
      outline-offset: 5px;
    }

    &.secondary {
      background: var(--secondary-300);
      border: var(--border-sm);
    }

    &.size-small {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }

    &.size-large {
      padding: 0.75rem 1rem;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }

    &.behavior-full {
      display: block;
      width: 100%;
    }

    &.type-secondary {
      background-color: transparent;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    &.has-icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      [data-icon] {
        font-size: 2.5ch;
        flex-shrink: 0;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }

  .email {
    background: var(--blue-200);
    color: var(--neutral-800);

    svg {
      color: var(--neutral-800);
    }
  }

  .icon {
    font-size: 1.4rem;
    font-weight: 600;
  }
</style>
